#container {
  margin: 50px 0 0 50px;
  width: 1000px;
  height: 200px;
  position: relative;
  /*background-color: #AED6F1;*/
  background-image: url('images/asphault-200.jpg');
  background-repeat: repeat-x;

}

.car {
  width: 60px;
  height: 40px;
  /*margin: 0 0 20px 20px;*/
  position: absolute;
}

#player1 {
  background-color: #E74C3C;
  top: 30px;
  left: 0px;
}

#player2 {
  background-color: #8E44AD;
  top: 130px;
  left: 0px;
}

/*.road {
  height: 200px;
  width: auto;
  display: inline-block;
}*/
