body{
  font-family: 'Revalia', cursive;
  background-color: #616061;
  color: #efefef;
}

h1 {
  font-size: 3em;
  text-align: center;
}

button {
  font-family: inherit;
  font-size: 2em;
  color: #616061;
  background-color: #efefef;
}

.buttons {
  text-align: center;
}

#message {
  text-align: center;
  margin-top: 50px;
  font-size: 1.5em;
  height: 150px;
}

#message p {
  margin: 10px 0;
}

#container {
  margin: 40px auto;
  width: 1000px;
  height: 200px;
  position: relative;
  background-image: url('images/asphault-200.jpg');
  background-repeat: repeat-x;
  /*background-color: #AED6F1;*/
}

.car {
  width: 180px;
  height: 50px;
  position: absolute;
}

.car img {
  width: inherit;
  height: auto;
}

#Ferrari {
  top: 30px;
  left: 0px;
  /*background-color: #E74C3C;*/
}

#Bug {
  top: 120px;
  left: 0px;
  /*background-color: #8E44AD;*/
}
