#container {
  margin: 50px 0 0 50px;
  width: 160px;
  height: 160px;
  background-color: #AED6F1;
  position: relative;

}

.car {
  width: 60px;
  height: 40px;
  /*margin: 0 0 20px 20px;*/
  position: absolute;
}

#player1 {
  background-color: #E74C3C;
  top: 20px;
  left: 0px;
}

#player2 {
  background-color: #8E44AD;
  top: 100px;
  left: 0px;
}
